body {
    background:greenyellow;
    font-family: Arial, Helvetica, sans-serif;
}
.assingments{
    display: flex;
    flex-wrap: wrap;
}
.assignment{
    width: 22%;
    padding: 10px;
    margin: 10px;
    padding: 20px 10px;
    background: green;
}
.assignment img{
    width: 200px;
    padding: 10px;
    margin: 10px;
    display: block;
    margin: auto;
}
.assignment href{
    width: 200px;
    padding: 10px;
    margin: 10px;
}
h1{
    color:black;
    text-align:center;
}
h2{
    text-align: center;
}